One Hot Encoding converts categorical data into binary (0/1) columns.
Why use it?
    Because machine learning has the mathametical formulas and ML models need numerical input, and can't directly understand text labels.
    Let me know if you want to apply it to multiple columns or combine with your missing value handling

2 Methods to perform OHE:
    1. in pandas, get_dummies helps to perform OHE
    2. in scikit-learn, OnHotEncoding class helps to perform OHE

In [2]:
import pandas as pd
import seaborn as sns 
import matplotlib.pylab as plt

In [4]:
dataset = pd.read_csv('FlavorSense.csv')
dataset.head(10)

,age,sleep_cycle,exercise_habits,climate_zone,historical_cuisine_exposure,preferred_taste
0,56.0,Irregular,Heavy,Temperate,NaN,Salty
1,NaN,Night Owl,Heavy,Temperate,Asian,Sweet
2,46.0,Night Owl,Heavy,Cold,Mixed,Sour
3,32.0,Early Bird,Heavy,Cold,Mediterranean,Salty
4,60.0,Night Owl,Moderate,Dry,Mediterranean,Sour
5,25.0,Early Bird,Heavy,Cold,Mediterranean,Sour
6,38.0,Irregular,Light,Temperate,Mixed,Sour
7,56.0,NaN,Light,Cold,Mixed,Sour
8,36.0,Irregular,Light,Tropical,Mediterranean,Sweet
9,40.0,Early Bird,Light,Temperate,Asian,Sweet

In [5]:
dataset.isnull().sum()

age                            968
sleep_cycle                    684
exercise_habits                804
climate_zone                   533
historical_cuisine_exposure    654
preferred_taste                  0
dtype: int64

In [9]:
dataset["sleep_cycle"].fillna(dataset["sleep_cycle"].mode()[0])

0        Irregular
1        Night Owl
2        Night Owl
3       Early Bird
4        Night Owl
           ...
9995     Irregular
9996    Early Bird
9997    Early Bird
9998     Irregular
9999    Early Bird
Name: sleep_cycle, Length: 10000, dtype: object

In [10]:
dataset["exercise_habits"].fillna(dataset["exercise_habits"].mode()[0])

0          Heavy
1          Heavy
2          Heavy
3          Heavy
4       Moderate
          ...
9995       Light
9996       Light
9997    Moderate
9998       Light
9999       Heavy
Name: exercise_habits, Length: 10000, dtype: object

In [11]:
en_data = dataset[["sleep_cycle","exercise_habits"]]
en_data

     sleep_cycle exercise_habits
0      Irregular           Heavy
1      Night Owl           Heavy
2      Night Owl           Heavy
3     Early Bird           Heavy
4      Night Owl        Moderate
...          ...             ...
9995   Irregular           Light
9996  Early Bird           Light
9997  Early Bird             NaN
9998   Irregular           Light
9999  Early Bird           Heavy

[10000 rows x 2 columns]

In [12]:
pd.get_dummies(en_data)

,sleep_cycle_Early Bird,sleep_cycle_Irregular,sleep_cycle_Night Owl,exercise_habits_Heavy,exercise_habits_Light,exercise_habits_Moderate
0,False,True,False,True,False,False
1,False,False,True,True,False,False
2,False,False,True,True,False,False
3,True,False,False,True,False,False
4,False,False,True,False,False,True
...,...,...,...,...,...,...
9995,False,True,False,False,True,False
9996,True,False,False,False,True,False
9997,True,False,False,False,False,False
9998,False,True,False,False,True,False
9999,True,False,False,True,False,False

In [13]:
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sleep_cycle_Early Bird    10000 non-null  bool
 1   sleep_cycle_Irregular     10000 non-null  bool
 2   sleep_cycle_Night Owl     10000 non-null  bool
 3   exercise_habits_Heavy     10000 non-null  bool
 4   exercise_habits_Light     10000 non-null  bool
 5   exercise_habits_Moderate  10000 non-null  bool
dtypes: bool(6)
memory usage: 58.7 KB

There is a problem that now, I have to convert this bool Data types into numeric.
this can be cause memory wastage, long process and not a good way to get numeric values.

To over come these disadvantages, we use scikit-learn, for this first install scikit-learn labrary in the system, for that go to https://scikit-learn.org/stable/install.html

In [16]:
from sklearn.preprocessing import OneHotEncoder

In [17]:
ohe = OneHotEncoder()
ohe.fit_transform(en_data)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 20000 stored elements and shape (10000, 7)>

sparse matrix is a matrix which contain items mostly filled with zeros and ones, so, we have to convert this into an array.

In [18]:
ohe.fit_transform(en_data).toarray()

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

but we required data into data frames, so we have to convert this data into dataframes

In [20]:
pd.get_dummies(en_data)

,sleep_cycle_Early Bird,sleep_cycle_Irregular,sleep_cycle_Night Owl,exercise_habits_Heavy,exercise_habits_Light,exercise_habits_Moderate
0,False,True,False,True,False,False
1,False,False,True,True,False,False
2,False,False,True,True,False,False
3,True,False,False,True,False,False
4,False,False,True,False,False,True
...,...,...,...,...,...,...
9995,False,True,False,False,True,False
9996,True,False,False,False,True,False
9997,True,False,False,False,False,False
9998,False,True,False,False,True,False
9999,True,False,False,True,False,False

In [22]:
col_names = ohe.get_feature_names_out(en_data.columns)

In [23]:
encoded_df = pd.DataFrame(arr1, columns=col_names)

In [25]:
encoded_df.head(10)

,sleep_cycle_Early Bird,sleep_cycle_Irregular,sleep_cycle_Night Owl,exercise_habits_Heavy,exercise_habits_Light,exercise_habits_Moderate,exercise_habits_nan
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6,0.0,1.0,0.0,0.0,1.0,0.0,0.0
7,1.0,0.0,0.0,0.0,1.0,0.0,0.0
8,0.0,1.0,0.0,0.0,1.0,0.0,0.0
9,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [26]:
arr1 = ohe.fit_transform(en_data).toarray()
pd.DataFrame(arr1,columns=col_names)

,sleep_cycle_Early Bird,sleep_cycle_Irregular,sleep_cycle_Night Owl,exercise_habits_Heavy,exercise_habits_Light,exercise_habits_Moderate,exercise_habits_nan
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...
9995,0.0,1.0,0.0,0.0,1.0,0.0,0.0
9996,1.0,0.0,0.0,0.0,1.0,0.0,0.0
9997,1.0,0.0,0.0,0.0,0.0,0.0,1.0
9998,0.0,1.0,0.0,0.0,1.0,0.0,0.0
9999,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [35]:
col_names = ohe.get_feature_names_out(en_data.columns)

ohe = OneHotEncoder(drop='first')
ar = ohe.fit_transform(en_data).toarray()

encoded_df1 = pd.DataFrame(ar, columns=col_names)
encoded_df1.head(10)

,sleep_cycle_Irregular,sleep_cycle_Night Owl,exercise_habits_Light,exercise_habits_Moderate,exercise_habits_nan
0,1.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,1.0,0.0
5,0.0,0.0,0.0,0.0,0.0
6,1.0,0.0,1.0,0.0,0.0
7,0.0,0.0,1.0,0.0,0.0
8,1.0,0.0,1.0,0.0,0.0
9,0.0,0.0,1.0,0.0,0.0